<div style="background-color: #2D3142;background-size:50%" >
<h1 ><b>GODAMWALE-ERP</b></h1>

<!-- Flex Container -->
<div id="container">

  <a id="button-1" class="button" href="../attendance">ATTENDANCE</a>

  <div class="button" id="button-2">
    <div id="slide"></div>
    <a href="../operation">OPERATION</a>
  </div>

  <div class="button" id="button-3">
    <div id="circle"></div>
    <a href="../hr">HR</a>
    
  </div>

  <div class="button" id="button-4">
    <div id="underline"></div>
    <a href="../account">ACCOUNT</a>
  </div>

  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="../listingservice">LISTING SERVICE!</a>
  </div>

  <div class="button" id="button-6">
    <div id="spin"></div>
    <a href="https://forms.zohopublic.com/Godamwale/form/ContactForm/formperma/AcQiag_XmY8LIahXztsXU9qfnqj7Co0prAjj1aLjiXo">LEAD(CRF)</a>
  </div>
  
  <div class="button" id="button-5">
      <div id="translate"></div>
      <a href="https://drive.google.com/drive/folders/1iDf7487a58v5svZouLJoU3zOjnJA-8SS?usp=sharing">DOCUMENT
      </a>
    </div>

    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="https://forms.gle/Fty8X562cLQREsUJA">DATA BANK</a>
      </div>  
    
    
  


  <!-- End Container -->
</div>
</div>
<div class="pqr">
    <h3>@Copyrights 2019 Godamwale.Our CIN U74999TN2016PTC104784.</h3>
</div>