<h1><b>LISTING SERVICE</b></h1>
<button class="button">
    
<a href="https://forms.zohopublic.com/Godamwale/form/WarehouseListingDataForm/formperma/guRMIaUl_C7BlxOpr8ChuaVMoU5Z-uYRRIuLJnqoWk4" ondblclick="myFunction()">WAREHOUSE LISTING</a></button>
<button class="back">COLD LISTING</button>
<button class="button"><a href="https://forms.zohopublic.com/operations3/form/LandListingForm/formperma/yErgb-gpGvjZ_Z3tWkC-QS0gk57tg1lcPIS3vKftTDc">LAND STORAGE</a></button>
<button class="back"><a href="https://forms.zohopublic.com/operations3/form/3PLListingForm/formperma/b7J3fEf13KFa1X9X-GXFz2C9Wdvu6CZQJkYUty-qui0">3PL LISTING FORM</a></button>
<button class="button">LOGISTIC LISTING PARK</button>