<div style="background-image: url(bg-cyan.jpg)" >
<h1>Sign Up</h1>
<h3>Welcom to Godamwale</h3>  
<fieldset>
  
  <label for="name">Name:</label>
  <input type="text" id="name" name="user_name">
  
  <label for="mail">Email:</label>
  <input type="email" id="mail" name="user_email">
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="user_password">
  <label for="Password">Confirm Password:</label>
  <input type="password" id="password" name="user_password">
  

  

</fieldset>



<button type="submit"><a href="login">Sign Up</a></button>
</div>